.App {
  text-align: center;
}


.About {
  border: solid 1px black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 550px;
  padding: 30px;
  width: 90%;
  margin: auto;
};


.aboutText {
  padding: 1rem;
  margin-left: 5rem;
}

.image1 {
  margin-right: 5rem;
}
